body{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 700px;
}

*{
    margin: 2em;
    border: 1px ;
}

.header{
    display: flex;
    flex: 1;
    background-color: #1f2937;
    width: 1000px;
    align-items: baseline;
    justify-content: space-between;

}

.main{
    display: flex;
    flex: 3;
    background-color: #1f2937;
    width: 1000px;
    margin-top: -30px;
    align-items: stretch;
        
}

a{
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
    margin: 0;

}

.one{
    font-size: 24px;
    color: #f9fef8;
}

.two{
    justify-self: flex-end;
    padding: 0;
        
}

ul{
    display: flex;
    margin: 0;
    padding: 0;
    gap: 6px;
    list-style: none;
}

.main-text{
    font-size: 48px;
    color: #f9fef8;
    font-weight: 900;
    margin: 1em;
    padding: 20px;
    margin-left: 16px;    
    
}

.sub-text{
    margin: 1em;
    margin-top: -3em ;
    padding: 20px;
    color: #e5e7eb;
    font-size: 18px;
    
}


.three{
    padding: 0;
    margin: 0;
    flex: 1;

}

.four{
    flex: 1;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: fit-content;
    
}
.four img{
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

.text-container{
    display: inline-block;
    margin: 1em;
    padding: 20px;
}

.text-container button{
    background-color: rgb(77, 200, 241);
    padding: 8px 20px;
    margin-top: -2em;
    border-radius: 13px;
    font-size: 18px;
    color: #e5e7eb;    
}
.section-one{
    display: block;
    
    background-color: grey;
    margin: auto;
}

.section-two{
    margin-top: -30px;
    background-color: white;
    width: 1000px;
    display: flex;
    flex-direction: column;

    
}

.info{
    font-size: 32px;
    font-weight: 900;
    color: #1f2937;
    margin: 2em auto;
}

.images, .subtexts{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -26px;
}

.images div, .subtexts div{
    flex: 1 1 0;
    aspect-ratio: 1 / 1;
    border-radius: 12px;
    background-color: gray;
}
.images div{
    border: 3px solid blue;
}

.subtexts div{
    margin-top: -2em;
    padding: 3px;
    background-color: white;
    text-align: center;
}

